$clr-mangoo-green: #b2d234;
$clr-mangoo-blue: #60a0d8;
$clr-mangoo-grey: #606060;
$clr-mangoo-white: #ffffff;

$clr-gradient-green: rgba($clr-mangoo-green, 0.5);
$clr-gradient-blue: rgba($clr-mangoo-blue, 0.5);

$clr-section-green: rgba($clr-mangoo-green, 0.8);
$clr-section-blue: rgba($clr-mangoo-blue, 0.8);

$gap-small: 1rem;
$gap-large: 6rem;

$media-query-small: 599px;
$media-query-medium: 1200px;
$media-query-large: 1799px;
$media-query-extra-large: 1800px;

$button-width: auto;
$button-height: auto;

$textarea-height: 130px;
$input-height: 45px;

$padding-small: 5%;
$padding-medium: 8%;
$padding-large: 15%;

$margin-small: 5%;
$margin-medium: 10%;
$margin-large: 20%;

$font-size-h2: 3.55em;
