$clr-mangoo-green: #b2d234;
$clr-mangoo-blue: #60a0d8;
$clr-mangoo-grey: #606060;
$clr-mangoo-white: #ffffff;

$clr-gradient-green: rgba($clr-mangoo-green, 0.5);
$clr-gradient-blue: rgba($clr-mangoo-blue, 0.5);

$clr-section-green: rgba($clr-mangoo-green, 0.8);
