footer {
  background-color: $clr-mangoo-green;
  color: $clr-mangoo-white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 5% 3% 5% 3%;

  @media screen and (max-width: 725px) {
    grid-template-columns: 1fr;

    img {
      grid-row: 4 / 5;
    }
  }

  img {
    height: 60%;
    justify-self: center;
    align-self: center;
  }

  h4 {
    font-weight: 600;
    margin-bottom: 5%;
  }

  li {
    margin-bottom: 3%;
  }
}
