body {
  background: $clr-mangoo-white;
}

header {
  background-image: url("images/Header Back.png");
  height: 100vh;
  background-size: cover;
  color: $clr-mangoo-white;

  nav {
    display: flex;
    justify-content: space-between;
    height: 69px;
    padding: 25px 40px;

    @media (max-width: 980px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .nav-items {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 50px;
      font-weight: 300;

      @media (max-width: 720px) {
        gap: 20px;
        flex-direction: column;
      }

      & > li:hover {
        border-bottom: 2px solid $clr-mangoo-white;
      }
    }
  }

  .icon-social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}
