main {
  position: relative;
  overflow-x: hidden;
  .description {
    display: flex;
    height: 80vh;

    @media (max-width: 599px) {
      gap: 1rem;
    }

    h3 {
      color: $clr-mangoo-green;
    }

    &-text {
      flex-direction: column;
      justify-content: center;
      margin-left: 8%;

      @media (max-width: 599px) {
        align-items: center;
        margin-inline: 8%;
        padding-bottom: 5%;

        .btn-cta-green {
          width: auto;
          height: auto;
        }
      }

      & > p {
        margin-right: 50%;
        color: $clr-mangoo-grey;

        @media (max-width: 599px) {
          margin-right: 0;
        }
      }
    }

    .image-container {
      position: absolute;
      z-index: -100;
      right: -10%;

      @media (max-width: 1200px) {
        width: 60%;
        height: 60%;
      }
    }

    & > img {
      display: block;
    }
  }

  .preparation {
    background-image: url("images/ismael-trevino-NDyuR4Huig8-unsplash.png");
    height: 100vh;
    background-size: cover;
    color: $clr-mangoo-white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    @media screen and (max-width: 1199px) {
      grid-template-columns: 1fr;

      .preparation-text {
        margin-inline: 10%;
        height: 75%;
      }
    }

    @media (min-width: 1200px) and (max-width: 1799px) {
      .preparation-text {
        height: 75%;
      }
    }

    > div {
      height: 65%;
      grid-column: 8 / 16;
      background-color: $clr-section-green;
      color: $clr-mangoo-white;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-self: center;
      margin-right: 10%;
      align-items: center;
      justify-content: space-between;
      padding: 5% 15% 5% 15%;

      > p {
        color: $clr-mangoo-white;
        padding-inline: 8%;
      }

      > a {
        width: 44.1%;
      }
    }
  }

  .menu {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-inline: 10%;
    p {
      color: $clr-mangoo-grey;
    }
    .header-menu {
      text-align: center;
      margin-inline: 20%;
      margin-bottom: 5%;
      h3 {
        color: $clr-mangoo-green;
      }
    }

    .detail-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 6rem;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
        gap: 3rem;
      }

      .list-menu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        .card-menu {
          &-content {
            padding: 1rem;

            &-popular {
              border: 1px solid $clr-mangoo-green;
              padding: 1rem;
            }
          }
          .popular {
            display: flex;
            justify-content: flex-end;

            > p {
              color: $clr-mangoo-white;
              font-size: 12px;
              background-color: $clr-mangoo-green;
              padding-inline: 12px;
              height: 24px;
              line-height: 24px;
            }
          }

          .header-card {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;

            h4 {
              color: $clr-mangoo-green;
            }
          }
        }
      }

      .type-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;

        @media screen and (max-width: 1200px) {
          width: 60%;
          gap: 50px;
          justify-self: center;
        }

        @media (max-width: 599px) {
          width: 100%;
        }

        @media (min-width: 1800px) {
          width: 65%;
        }

        > p {
          text-align: center;
        }

        > a {
          width: 70%;
        }

        .h2-title-force {
          h2 {
            font-size: 3.55em;
            color: $clr-mangoo-green;
            transform: rotate(-9deg);

            & + h2 {
              color: $clr-mangoo-blue;
            }
          }
        }
      }
    }
  }

  .ingredients {
    background-image: url("images/louis-hansel-MlPD-AzZYMg-unsplash.png");
    height: 90vh;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: $clr-mangoo-white;
    padding-inline: 5%;
    gap: 1rem;
    text-align: center;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .ingredients-vert,
      .ingredients-blue {
        margin-inline: 20%;
      }
    }

    @media screen and (max-width: 600px) {
      .ingredients-vert,
      .ingredients-blue {
        margin: 0;
      }
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-block: 10%;
    }

    &-vert,
    &-blue {
      grid-row: 2 / 3;

      > h3 {
        padding-top: 5%;
      }
    }

    &-vert {
      background-color: $clr-section-green;
    }

    &-blue {
      background-color: $clr-section-blue;
    }
  }

  .apply {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-block: 5%;
    gap: 5%;

    @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
      margin-left: 0;

      a {
        margin-bottom: 5%;
      }

      .form-apply {
        width: 100%;
      }

      img {
        height: 300px;
        width: 300px;
      }
    }

    .image-container {
      position: relative;

      > img {
        object-fit: cover;
      }

      .cross {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 8px;
        background-color: #fff;

        &-horizontal {
          width: 100%;
        }

        &-vertical {
          width: 8px;
          height: 100%;
        }
      }
    }

    a {
      width: 35.2%;
      margin-top: 2%;
      margin-left: 30%;
    }

    .form-apply {
      display: flex;
      flex-direction: column;
      width: 46%;

      @media screen and (max-width: 1200px) {
        width: 80%;
      }

      > p {
        margin-right: 35%;
        color: $clr-mangoo-grey;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-top: 5%;
          font-style: italic;
          font-size: 1.27em;
          color: $clr-mangoo-green;
          margin-bottom: 10px;
        }

        textarea {
          height: 130px;
          border: 1px solid #c9c9c9;
          margin-bottom: 5%;
          resize: none;
        }

        .form-first-last-name {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;

          .first-name,
          .last-name {
            display: flex;
            flex-direction: column;
          }
        }

        input {
          height: 45px;
          border: 1px solid #c9c9c9;
        }
      }

      > h3 {
        color: $clr-mangoo-green;
        margin-bottom: 3%;
      }
    }
  }
}
